body {
    text-align: center;
    background-image: url("Images/invertedocean.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

/* Custom font */
@font-face {
    font-family: 'Gang of Three';
    src: url(/Fonts/go3v2.ttf);
}

h1 {
    font-family: 'Gang of Three';
    font-size: 50px;
    color: white;
}

h2 {
    font-family: 'Gang of Three';
    font-size: 30px;
    color: white;
}

h3 {
    font-family: 'Gang of Three';
    font-size: 25px;
    color: white;
}

#main {
    width: 1000px;
    height: 600px;
    background-color: #3F4346;
    opacity: 0.9;
    margin: 25px auto;
    border: solid 10px black;
    font-family: 'Gang of Three';
}
