body {
    text-align: center;
    background-color: white;
    background-repeat: no-repeat;
    background-position: top;
}

/* Custom font */
@font-face {
    font-family: 'Gang of Three';
    src: url(/Fonts/go3v2.ttf);
}

h1 {
    font-family: 'Gang of Three';
    font-size: 50px;
}

h2 {
    font-family: 'Gang of Three';
    font-size: 30px;
}

h3 {
    font-family: 'Gang of Three';
    font-size: 25px;
}

.background {
    background-repeat: no-repeat;
    background-position: top;
}

#settingsButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: fixed;
    top: 35px;
    right: 210px;
}

#event, #location, #time, #description {
    background-color: white;
    border: solid 5px black;
    color: black;
    padding: 10px 20px;
    font-family: 'Gang of Three';
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.formBox, #previous, #next, #year, #month, #Events {
    background-color: #9e0000;
    border: solid 5px black;
    color: black;
    padding: 10px 20px;
    font-family: 'Gang of Three';
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

tr {
    font-family: 'Gang of Three';
    background-color: white;
}

#main {
    width: 1000px;
    height: 720px;
    background-color: #e0cb91;
    opacity: 0.9;
    margin: 25px auto;
    border: solid 10px black;
    font-family: 'Gang of Three';
}
