body {
  background-image: url("Images/scroll.png");
  background-repeat: no-repeat;
  background-position: top;
}

@font-face {
    font-family: 'Gang of Three';
    src: url(/Fonts/go3v2.ttf);
}

h1{
  font-family: 'Gang of Three';
  text-align: center;
  margin-left: 50px;
  margin-top: 350px;
  margin-bottom: 20px;


}

.text{
  font-family: 'Gang of Three';
  text-align: center;
  margin-left: 50px;

  margin-bottom: 20px;
}

.dragon{
  text-align: center;
  margin-left: 500px;

}
