body {
    text-align: center;
}

h1 {
    font-family: Helvetica, sans-serif;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

 #main {
    width: 1000px;
    height: 1010px;
    background-color:silver;
    opacity: 0.9;
    margin:25px auto;
    border:solid 10px black;
    font-family: fantasy;
}

.border{
  width: 900px;
  height: auto;
  border-style:solid;
  border-color:#287EC7;
  margin: auto;
  overflow: auto;

}
 .border h2{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;

}

.container {
    max-width: 800px;
    margin:auto;
    font-family: sans-sans-serif;
}

.month {
    text-align: Center;
    background: grey;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: white;
    padding: auto;
    border: 1px solid black;
}

table, th, td {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 17px;
    border-collapse: collapse;
    border:1px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#footer > p {
    text-align:center;
}
