/* Main theme CSS page used a number of times for continuous style on repeated elements of HTML pages */
/* links appropriate variables setting positions, sizes and text fonts for effective interface design */


body {
    text-align: center;
    background-image: url("Images/ocean.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

/* Custom font imported */
@font-face {
    font-family: 'Gang of Three';
    src: url(/Fonts/go3v2.ttf);
}

/* Controls anything with h1 tag upon reference to the style.css sheet*/
h1 {
    font-family: 'Gang of Three';
    font-size: 50px;
}
/* Controls anything with h2 tag upon reference to the style.css sheet */
h2 {
    font-family: 'Gang of Three';
    font-size: 30px;
}
/* Controls anything with h3 tag upon reference to the style.css sheet */
h3 {
    font-family: 'Gang of Three';
    font-size: 25px;
}
/* Controls anything with class="background" tag upon reference to the style.css sheet ensuring constant properties */
.background {
    background-repeat: no-repeat;
    background-position: top;
}
/* Controls anything with id="settingsbutton" tag upon reference to the style.css sheet ensuring constant properties */
#settingsButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: fixed;
    top: 35px;
    right: 210px;
}
/* Controls events button which links to relevent events page. noted with class=".EventsButton" tag  */
.EventsButton, #event, #location, #time, #description {
    background-color: white;
    border: solid 5px black;
    color: black;
    padding: 10px 20px;
    font-family: 'Gang of Three';
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
/* Controls the design of the form inputs on CreateEventPage.html and referneces and ViewCalendarPage.html */
.formBox, #previous, #next, #year, #month, #Events {
    background-color: #9e0000;
    border: solid 5px black;
    color: black;
    padding: 10px 20px;
    font-family: 'Gang of Three';
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
/* Controls the design for the weekdays in ViewCalendarPage.html */
tr {
    font-family: 'Gang of Three';
    background-color: white;
}
/* Controls the design of the form inputs on CreateEventPage.html and referneces and ViewCalendarPage.html */
#main {
    width: 1000px;
    height: 720px;
    background-color: #e0cb91;
    opacity: 0.9;
    margin: 25px auto;
    border: solid 10px black;
    font-family: 'Gang of Three';
}
/* All the below controlls the calendar table elements design for the UI*/
table, th {
    width: 100%;
    height: 3.5vw;
    table-layout: fixed;
    text-align: center;
    font-size: 25px;
    font-family: 'Gang of Three';
    background-color: #9e0000;
}

td {
    font-family: 'Gang of Three';
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Gang of Three';
}

li {
    float: left;
}
/* controls all footer elements with id="footer" */
#footer > p {
    text-align:center;
}
